/* font style */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
html,body{
    height: 100%;
}

/* nav styles */
.header{
    width: 1600px;
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    margin: 0px auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 211px;
    margin-right: 245px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800px;
}
.text-color{
    color:#FD6E0A ;
}
nav ul{
    display: flex;
    gap: 53px;
    align-items: center;

}
nav ul li{
    list-style: none;
   
}
nav li a{
    text-decoration: none;
}
.content-geetings{
    font-size: 45px;
    font-weight: 600px;
    margin-bottom: -20px;
}
.content-title{
    font-size: 85px;
    font-weight: bold;
}
.header-content{
    display: flex;
    margin-left: 208px;
    justify-content: space-between;
}
.header-image{
    width: 584px;
    height: 676px;
}
.content-description{
    font-size: 18px;
}
.content{
    width: 588px;
    height: 356px;
}

/* shared style */
.btn-background-color{
    background-color:#FD6E0A ;
    width: 150px;
    height: 64px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
}
.btn-background-color2{
    border:2px solid #FD6E0A;
    width: 150px;
    height: 64px;
    color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
.dark-2{
    color: #474747;
}
.dark-1{
    color: #181818;
}
.dark-3{
    color: #757575;
}
.common-bg{
    background-color: #FFF8F3;
}
.text-center{
     text-align: center;
}
.skill-description{
    font-size: 16px;
}

/* Section Start */
.section-title{
    font-size: 35px;
    font-weight: bold;
}
.about-container{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.item-description{
    font-size: 20px;
    font-weight: bold;
}
.line-height1,.line-height2{
    margin: 5px 0;
    line-height: 1.2;
}
.primary-div{
    width: 1140px;
    height: 450px;
    margin: 0px auto;
    margin-top: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.secondary-div{
    background-color: #FFFFFF;
    width: 827px;
    height: 300px;
    padding: 10px;
    border: 2px solid black;
}
/* What i do section */
.section-what{
    width: 1140px;
    height: 550px;
    margin: 0px auto;
    margin-top: 1px;
}
.section-what-description{
    width: 909px;
    padding: 0 116px 0 ;
}
/* Skill section */

.skill-container{
    display: flex;
    justify-content: space-between;
}
.skill{
    width: 200px;
    height: 350px;
    background-color: white;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
    margin-right: 24px;
}
/* Resume styke */

.resume-title{
    padding: 40px;
}
.resume-container{
    display: flex;
    justify-content: center;
}
.resume-education{
    width: 558px;
  
}
.education-description{
    padding-right: 47px;
    padding-bottom: 30px;
}
.resume-education-title{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}
.education-title{
    font-size: 25px;
    font-weight: bold;
}
.education-sub-title{
    font-size: 20px;
    font-weight: 600px;
    
}
.education-title,.education-sub-title{
    margin: 5px 0;
    line-height: 1;
}
.horizontal{
    margin-bottom: 30px;
}
.download-cv{
margin: 30px;
}
.download-cv button:hover{
    border: 4px solid rgb(76, 0, 255);
}
/* footer */
.footer{
  width: 1600px;
  margin: 0px auto;
  /* margin-top: 130px; */
}
.footer-container{
    display: flex;
    justify-content: space-between;
     margin: 0 230px;
}
.footer-input{
    margin-bottom: 18px;
    padding: 14px;
    width: 300px;
    font-size: 15px;
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
}
.footer-colum p{
    width: 562px;
}
.footer-colum{
    margin-top: 100px;
    margin-bottom: 100px;
}
